In [1]:
from urllib.parse import urlencode, unquote
import requests
import json
import pandas as pd
import math
import numpy as np
from datetime import datetime, date, timedelta


### 분류	파라미터명	설명
1. **데이터타입**	**dataType**	API 데이터를 리턴받는 타입을 지정하는 설정 값
2. **조회건수**	**searchCnt**	지원사업 조회시 조회건수를 지정하여 조회하는 설정 값
(0 또는 값이 없을 경우 전체 데이터 제공)
3. **분야**	**searchLclasId**	지원사업 조회시 분야를 지정하여 조회하는 설정 값
>>
- 01	금융
- 02	기술
- 03	인력
- 04	수출
- 05	내수
- 06	창업
- 07	경영
- 09	기타
4. **해시태그**	**hashtags**	지원사업 조회시 해시태그를 지정하여 조회하는 설정 값 (다중입력가능)
>>
- 금융	금융 분야 해시태그
- 기술	기술 분야 해시태그
- 인력	인력 분야 해시태그
- 수출	수출 분야 해시태그
- 내수	내수 분야 해시태그
- 창업	창업 분야 해시태그
- 경영	경영 분야 해시태그
- 기타	기타 분야 해시태그
- 서울	서울 지역 해시태그
- 부산	부산 지역 해시태그
- 대구	대구 지역 해시태그
- 인천	인천 지역 해시태그
- 광주	광주 지역 해시태그
- 대전	대전 지역 해시태그
- 울산	울산 지역 해시태그
- 세종	세종 지역 해시태그
- 경기	경기 지역 해시태그
- 강원	강원 지역 해시태그
- 충북	충북 지역 해시태그
- 충남	충남 지역 해시태그
- 전북	전북 지역 해시태그
- 전남	전남 지역 해시태그
- 경북	경북 지역 해시태그
- 경남	경남 지역 해시태그
- 제주	제주 지역 해시태그
5. **데이터개수**	**pageUnit**	지원사업 조회시 한 페이지에 보여줄 수 있는 데이터 개수의 설정 값
6. **페이지수**	**pageIndex**	지원사업 조회시 화면에 보여줄 페이지 사이즈의 설정 값

In [2]:
# url = "https://www.bizinfo.go.kr/uss/rss/bizinfoApi.do?crtfcKey=f44MIl&dataType=json&searchCnt&searchLclasId&hashtags"
url = "https://www.bizinfo.go.kr/uss/rss/bizinfoApi.do"

# queryString 입력 
queryString = "?" + urlencode(
    {
     "crtfcKey": "f44MIl",  # 본인의 서비스 키 입력
     "dataType" : "json",   # json, rss
     #"searchCnt": 500,
     #"searchLclasId": "06",
     #"hashtags": "서울",
     #"pageUnit": "",
     #"pageIndex" : ""
    }
)

In [3]:
# 최종 요청 URL
queryURL = url + queryString

In [4]:
queryURL

'https://www.bizinfo.go.kr/uss/rss/bizinfoApi.do?crtfcKey=f44MIl&dataType=json'

In [5]:
# API 호출
response = requests.get(queryURL)

In [6]:
response

In [7]:
r_dict = json.loads(response.text)

In [9]:
data = r_dict["jsonArray"]

In [10]:
pd.DataFrame.from_dict(data).head(2)

,inqireCo,totCnt,pblancUrl,jrsdInsttNm,printFlpthNm,trgetNm,pldirSportRealmLclasCodeNm,bsnsSumryCn,flpthNm,reqstBeginEndDe,printFileNm,pldirSportRealmMlsfcCodeNm,excInsttNm,pblancNm,hashtags,fileNm,creatPnttm,pblancId,industNm,areaNm
0,274,1614,/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancI...,국토교통부,https://www.bizinfo.go.kr/cmm/fms/getImageFile...,중소기업,기술,<p>국토교통분야 미래 신성장동력 창출 및 국민의 삶의 질을 향상시키기 위해 국토교...,https://www.bizinfo.go.kr/cmm/fms/getImageFile...,20220810 ~ 20220817,2022년 국토교통연구기획사업 시행 재공고문.hwp,혼합(단독+공동),국토교통과학기술진흥원,2022년 국토교통연구기획사업 시행 재공고,"인천,서울,제주,울산,대구,강원,경기,전남,세종,경남,충남,기술,충북,경북,부산,광...",관련 서식.zip@참고자료.zip@2022년 국토교통연구기획사업 시행 재공고 안내서...,2022-08-10 14:57:18,PBLN_000000000079603,NaN,NaN
1,125,1614,/web/lay1/bbs/S1T122C128/AS/74/view.do?pblancI...,광주광역시,https://www.bizinfo.go.kr/cmm/fms/getImageFile...,중소기업,수출,<p>광주광역시 내 수출 유망기업의 해외판로개척 지원을 위해 상품등록 및 바이어 발...,NaN,20220810 ~ 20220823,2022광주중동온라인사절단모집공고문.hwp,해외진출준비,KOTRA광주전남지원단,[광주] 2022년 중동 자동차부품 등 온라인 사절단 모집 공고,"광주,수출",NaN,2022-08-10 14:56:44,PBLN_000000000079602,NaN,NaN

In [11]:
data = pd.DataFrame.from_dict(data)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   inqireCo                    1614 non-null   int64
 1   totCnt                      1614 non-null   int64
 2   pblancUrl                   1614 non-null   object
 3   jrsdInsttNm                 1614 non-null   object
 4   printFlpthNm                1549 non-null   object
 5   trgetNm                     1614 non-null   object
 6   pldirSportRealmLclasCodeNm  1614 non-null   object
 7   bsnsSumryCn                 1614 non-null   object
 8   flpthNm                     1236 non-null   object
 9   reqstBeginEndDe             1614 non-null   object
 10  printFileNm                 1549 non-null   object
 11  pldirSportRealmMlsfcCodeNm  1612 non-null   object
 12  excInsttNm                  1614 non-null   object
 13  pblancNm                    1614 non-null   object
 14  hashtags                    1614 non-null   object
 15  fileNm                      1236 non-null   object
 16  creatPnttm                  1614 non-null   object
 17  pblancId                    1614 non-null   object
 18  industNm                    454 non-null    object
 19  areaNm                      454 non-null    object
dtypes: int64(2), object(18)
memory usage: 252.3+ KB

In [13]:
# info = ['pblancNm', 'excInsttNm', 'reqstBeginEndDe', 'hashtags', 'trgetNm', 'pldirSportRealmLclasCodeNm', 'pldirSportRealmMlsfcCodeNm', 'printFlpthNm', 'creatPnttm']

In [14]:
# data = data[info]

In [15]:
data.to_csv('C:/Django/Data_Processing/Data/기업정책.csv', encoding = 'utf-8-sig', index=False)

In [16]:
import sqlite3

In [17]:
con = sqlite3.connect("C:\ioneU\Data\Data_Processing\Data\IONEJOB.db")
data.to_sql('기업정책',con)

1614

In [18]:
con.commit()